{
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "es5",
  "singleQuote": false,
  "semi": true,
  "semicolon": [true, "never", "ignore-interfaces"],

  "importOrder": [
    "^react",
    "^react-dom",
    "^prop-types",
    "^react/(.*)$",
    "^react-dom/(.*)$",
    "^prop-types/(.*)$",
    "^react-redux",
    "^antd",
    "^@ant-design",
    "^moment",
    "^app/(.*)$",
    "^assets/(.*)$",
    "^components/(.*)$",
    "^config/(.*)$",
    "^lib/(.*)$",
    "^pages/(.*)$",
    "^static/(.*)$",
    "^styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "parser": "babel"
}
